.top-menu-button{
    background-color: aqua;
    width: 2rem;
    height: 1rem;
    display: inline-block;
}


#spiningshitake{
    animation:3s linear infinite rotation;
    display:inline-block;
    color: red;
}
@keyframes rotation{
    0%{ transform:rotate(0);}
    100%{ transform:rotate(360deg);}
}